* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size:  16px;
	line-height: 24px;
	color: #212121;
}

ul {
	list-style-type: none;	
}

a {
	text-decoration: none;
	color: #212121;
}

.hidden {
	display: none;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	margin-bottom: 90px;
}

.header-nav > ul {
	display: flex;
	justify-content: space-around;
	align-items: center;

	height: 80px;
}

.nav-block {
	display: flex;
	justify-content: space-around;
}

.nav-item {
	margin-left: 50px;
}

.nav-item:hover {
	color: #2196F3;
	cursor: url(./imgs/pointer.svg);
}

.nav-block > a:first-child {
	padding-right: 30px;
}

.solutions {
	height: 600px;
	background-color: #2F303A;
	padding-top: 200px;
	padding-bottom: 200px;

	color: #fff;

}

.solutions-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-transform: uppercase;
	text-align: center;


	width: 696px;
	margin: 0 auto;
	padding: 0 30px;
}

.btn {
	color: #fff;
	font-weight: 700;

	width: 200px;
	height: 50px;

	background-color: #2196F3;

	border: 1px solid #2196F3;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	display: block;
	margin: 30px auto 0;
}

.btn:hover {
	background-color: #0483eb;
	cursor: pointer;
}

.preferences {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-bottom: 90px;
}

.preference-item {
	width: 270px;
}

.preference-item > h3 {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.preference-item > p {
	font-size: 14px;
	color: #757575;
	padding-right: 20px;
}

.about {
	margin-bottom: 90px;
}

.about-title {
	font-size: 36px;

	width: 380px;
	margin: 0 auto 50px;
}

.about-imgs {
	display: flex;
	justify-content: space-between;
}

.our-team {
	background-color: #F5F4FA;
	padding-top: 90px;
}

.our-team-title {
	font-size: 36px;
	width: 265px;

	margin: 0 auto 50px;
}

.our-team-cards {
	display: flex;
	justify-content: space-between;
}

.worker-card > img {
	margin-bottom: 30px;
}

.worker-card > h4 {
	margin-bottom: 10px;
	text-align: center;
}

.worker-card > p {
	margin-bottom: 30px;
	text-align: center;
	color: #757575;
}

.footer {
	background-color: #2F303A;
	color: #fff;
	padding: 60px 0 60px;
}

.footer img {
	margin-bottom: 20px;
}

.footer li {
	margin-bottom: 10px;
	font-size: 14px;
}

.footer-nav a {
	color: rgba(255, 255, 255, 0.6);

	font-size: 14px;
}